@import url("http://fonts.googleapis.com/css?family=Gabriela");
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Gabriela', serif;
  background-color: #ccc;
}
#cr-stage {
  border: 2px solid #444;
  margin: 5px auto;
  background-color: #444;
}
.item-ui {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 100px;
  height: 803px;
  background-color: #444;
}
.item-ui .item {
  color: #f5f5f5;
  margin: 5px;
}
.item-ui .header span {
  border-bottom: solid 1px;
}
.help-screen {
  width: 100%;
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: fixed;
  color: #fff;
  background-color: #444;
  z-index: 100;
  display: none;
}
.help-screen .help-header {
  text-align: center;
}
.help-screen .help-footer {
  display: block;
  margin-top: 20px;
  text-align: center;
}
.help-screen .help-section {
  white-space: pre;
  font-family: monospace;
  display: inline-block;
  vertical-align: top;
}
.help-screen .help-section .section-head {
  color: #30ff30;
  font-weight: bold;
}
.opening-screen {
  width: 100%;
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: fixed;
  color: #fff;
  background-color: #444;
  z-index: 100;
}
.opening-screen .line {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  display: block;
  margin: 10px 20px;
}
.opening-screen .active-area {
  height: 100%;
}
.opening-screen .ready {
  position: absolute;
  bottom: 44%;
  right: 43%;
}
.opening-screen .tip {
  position: absolute;
  bottom: 40%;
  right: 41%;
}
.opening-screen .credits {
  position: absolute;
  bottom: 50px;
  ((null)): 0;
  white-space: pre;
}
.opening-screen .title {
  text-align: center;
}
.opening-screen .twitter {
  color: #86d;
}
.ending-screen {
  width: 100%;
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: fixed;
  color: #fff;
  background-color: rgba(0,0,255,0);
  z-index: 100;
  display: none;
  text-align: center;
  padding-top: 50px;
}
.ending-screen .line {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  display: block;
  margin: 10px 20px;
}
