body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial;
  font-size: 20px;
}
#cr-stage {
  border: 2px solid #444;
  margin: 5px auto;
  background-color: #444;
}
.item-ui {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 100px;
  height: 803px;
  background-color: #444;
}
.item-ui .item {
  color: #f5f5f5;
  margin: 5px;
}
.item-ui .header span {
  border-bottom: solid 1px;
}
