@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Gabriela)

body, html
   margin 0
   padding 0
   overflow hidden
   font-family 'Gabriela', serif

#cr-stage
   border 2px solid #444
   margin 5px auto
   background-color #444

.item-ui
   absolute right 10px top 5px
   width: 100px
   height: 803px
   background-color #444

   .item
      color whitesmoke
      margin 5px

   .header span
      border-bottom solid 1px
